body{
    margin:5%;
    padding:5%;
}
#grapher{
    height: 50dvh;
    width: 50dvh;
}
#textgrapher{
    display: grid;
}
#textgrapher > div {
    border: 1px solid black;
    min-width: 50px;
    min-height: 50px;
    height: auto;
    aspect-ratio: 1/1;
  }