main{
    margin: 10%;

}
main,section,article{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#sview_grid_view{
    display: grid;
    padding: 1em;
}
#sview_grid_view > .grid_cell {
    border: 1px solid black;
    min-width: 50px;
    min-height: 50px;
    height: auto;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sview_grid_view > .grid_label {
    min-width: 50px;
    min-height: 50px;
    height: auto;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
}

